.rk-multiselect {
    position: relative;
}

.rk-multiselect-select > .form-control {
    /* copied from bootstrap to get matching size: .form-floating > .form-control*/
    padding: 1rem .75rem;
    height: calc(3.5rem + calc(var(--bs-border-width) * 2));
    min-height: calc(3.5rem + calc(var(--bs-border-width) * 2));
    line-height: 1.25;
}


/* Label */
.rk-multiselect-label {
    margin: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    height: 100%;
    text-align: start;
    text-overflow: ellipsis;
    pointer-events: none;
    transform-origin: 0px 0px;
    padding: 1rem 0.75rem;
    overflow: hidden;
    white-space: nowrap;
    border: var(--bs-border-width) solid transparent;
    transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
}

    .rk-multiselect-label.has-value {
        color: rgba(var(--bs-body-color-rgb), .65);
        transform: scale(.85) translateY(-.5rem) translateX(.15rem);
    }

    .rk-multiselect-label .rk-label-required {
        color: var(--rkv-red-600);
    }


/* Selected items */
.rk-multiselect-selecteditems {
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    word-wrap: break-word;
    padding-top: .75rem;
}

.rk-multiselect-button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.rk-multiselect-button-caret{
    padding-left: 10px;
    border-left: 1px solid red; /*TODO: Fix correct colour*/
    
    &::after {
        content: 'keyboard_arrow_down';
        font-family: 'Material Symbols Rounded';
        font-size: 1.4em;
    }
}

[aria-expanded="true"]>.rk-multiselect-button-caret::after {
    content:'keyboard_arrow_up';
}


/* Dropdown */
.rk-multiselect-dropdown {
    position: absolute;
    left: 0;
    right: 0;
    background: var(--rkv-white);
    border: 1px solid var(--rkv-neutral-300);
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-height: 300px;
    overflow-y: auto;
    z-index: 1000;
    display: none;
}

    .rk-multiselect-dropdown[aria-hidden="false"] {
        display: block;
    }


/* Dropdown options */
.form-check {
    display: flex;
    align-items: center;
    margin: 0;
}

    .form-check:hover,
    .form-check:focus {
        background-color: var(--rkv-bg-light-blue);
        outline: none;
    }

    .form-check:focus {
        box-shadow: inset 0 0 0 2px var(--rkv-blue-500);
    }

    .form-check input[type="checkbox"] {
        width: 1.6rem;
        height: 1.6rem;
    }

    .form-check .form-check-label {
        cursor: pointer;
        margin: 0;
        flex: 1;
        font-size: 1.2rem;
    }


/* Validation */
.invalid-feedback {
    display: block
}

.rk-multiselect-select:not(:has(.rk-multiselect-label.has-value)) > .form-control:focus{
    box-shadow: 0 0 0 .25rem red; /*TODO: Fix correct colour*/
}
